In [2]:
import pandas as pd 
import numpy as np

In [9]:
weather = pd.read_csv('Sommaire_météo.csv',sep=",")

c:\python38\lib\site-packages\IPython\core\interactiveshell.py:3145: DtypeWarning: Columns (7,8,18,25) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [10]:
weather.head()

,STA,Date,Precip,WindGustSpd,MaxTemp,MinTemp,MeanTemp,Snowfall,PoorWeather,YR,...,FB,FTI,ITH,PGT,TSHDSBRSGF,SD3,RHX,RHN,RVG,WTE
0,10001,1942-7-1,1.016,NaN,25.555556,22.222222,23.888889,0,NaN,42,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,10001,1942-7-2,0,NaN,28.888889,21.666667,25.555556,0,NaN,42,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,10001,1942-7-3,2.54,NaN,26.111111,22.222222,24.444444,0,NaN,42,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,10001,1942-7-4,2.54,NaN,26.666667,22.222222,24.444444,0,NaN,42,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,10001,1942-7-5,0,NaN,26.666667,21.666667,24.444444,0,NaN,42,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [11]:
weather.isna()

,STA,Date,Precip,WindGustSpd,MaxTemp,MinTemp,MeanTemp,Snowfall,PoorWeather,YR,...,FB,FTI,ITH,PGT,TSHDSBRSGF,SD3,RHX,RHN,RVG,WTE
0,False,False,False,True,False,False,False,False,True,False,...,True,True,True,True,True,True,True,True,True,True
1,False,False,False,True,False,False,False,False,True,False,...,True,True,True,True,True,True,True,True,True,True
2,False,False,False,True,False,False,False,False,True,False,...,True,True,True,True,True,True,True,True,True,True
3,False,False,False,True,False,False,False,False,True,False,...,True,True,True,True,True,True,True,True,True,True
4,False,False,False,True,False,False,False,False,True,False,...,True,True,True,True,True,True,True,True,True,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
119035,False,False,False,True,False,False,False,False,True,False,...,True,True,True,True,True,True,True,True,True,True
119036,False,False,False,True,False,False,False,False,False,False,...,True,True,True,True,False,True,True,True,True,True
119037,False,False,False,True,False,False,False,False,False,False,...,True,True,True,True,False,True,True,True,True,True
119038,False,False,False,True,False,False,False,False,True,False,...,True,True,True,True,True,True,True,True,True,True
119039,False,False,False,True,False,False,False,False,True,False,...,True,True,True,True,True,True,True,True,True,True

In [13]:
station = pd.read_csv("Location_Station_Météo.csv")

In [16]:
station.head(50)

,WBAN,NAME,STATE/COUNTRY ID,LAT,LON,ELEV,Latitude,Longitude
0,33013,AIN EL,AL,3623N,00637E,611,36.383333,6.650000
1,33031,LA SENIA,AL,3537N,00037E,88,35.616667,0.583333
2,33023,MAISON BLANCHE,AL,3643N,00314E,23,36.716667,3.216667
3,33044,TELERGMA,AL,3607N,00621E,754,36.116667,6.416667
4,12001,TINDOUF,AL,2741N,00809W,443,27.683333,-8.083333
5,11604,ST JOHNS/COOLIDGE FIELD,AT,1707N,06147W,10,17.116667,-61.733333
6,82502,AMBERLY,AU,2736S,15243E,27,-27.600000,152.816667
7,82501,ARCHER,AU,2735S,15301E,19,-27.583333,153.000000
8,82506,BRISBANE,AU,2726S,15305E,2,-27.433333,153.133333
9,82402,CHARLEVILLE,AU,2625S,14616E,300,-26.416667,146.216667
10,82403,CLONCURRY,AU,2041S,14030E,188,-20.683333,140.583333
11,81404,HORN ISLAND,AU,1036S,14218E,12,-10.600000,142.166667
12,82404,LONGREACH,AU,2327S,14408E,187,-23.450000,144.066667
13,82405,MACKAY,AU,2110S,14910E,8,-21.166667,149.300000
14,82503,ROCKHAMPTON,AU,2324S,15030E,13,-23.400000,150.533333
15,13201,LAJES,AZ,3846N,02706W,55,38.766667,-27.033333
16,12706,GREAT EXUMA ISLAND,BA,2331N,07547W,19,23.516667,-75.733333
17,13601,BERMUDA,BE,3222N,06441W,6,32.366667,-64.666667
18,32503,BAHREIN ISLAND,BN,2616N,05038E,1,26.266667,50.566667
19,11501,CHRISTS CHURCH,BR,1304N,05930W,55,13.066667,-59.583333
20,10505,CLEVELANDIA,BZ,0352N,05149W,29,3.866667,-51.750000
21,50301,FERNANDO DE NORONHA,BZ,0350S,03225W,38,-3.833333,-32.483333
22,50302,FORTALEZA,BZ,0346S,03833W,23,-3.766667,-38.616667
23,50304,PARNAMIRIM,BZ,0554S,03515W,50,-5.900000,-35.300000
24,50303,RECIFE,BZ,0807S,03455W,9,-8.116667,-34.883333
25,50403,SAO LUIZ,BZ,0235S,04414W,47,-2.583333,-44.233333
26,50401,VAL DE CANS,BZ,0123S,04829W,13,-1.383333,-48.366667
27,10807,PARRITA,CS,0931N,08420W,6,9.516667,-84.450000
28,10806,SAN JOSE,CS,0954N,08408W,1132,9.900000,-84.000000
29,60701,CANTON ISLAND,CT,0246S,17143W,3,-2.766667,-171.750000
30,12701,CAMAGUEY,CU,2124N,07755W,123,21.400000,-77.866667
31,12801,SAN ANTONIO,CU,2253N,08230W,48,22.883333,-82.633333
32,11615,CIUDAD TRUJILLO,DR,1829N,06954W,9999,18.483333,-69.883333
33,31401,SHEIKH OTHMAN,DY,1252N,04458E,10,12.866667,44.866667
34,32301,LUXOR,EG,2542N,03242E,86,25.700000,32.666667
35,33205,MERSA MATRUH,EG,3127N,02712E,26,31.450000,27.250000
36,33303,PAYNE,EG,3008N,03124E,71,30.133333,31.350000
37,50801,SALINAS,EQ,0212S,08100W,8,-2.200000,-81.083333
38,32504,SHARJAH,ER,2521N,05524E,2,25.350000,55.450000
39,31302,ERITREA,ET,1517N,03855E,2326,15.283333,38.900000
40,81702,NANDI/AAF,FJ,1745S,17725E,10,-17.750000,177.366667
41,34017,BASTIA/CORSICA,FR,4233N,00929E,16,42.550000,9.433333
42,34002,BASTIA/CORSICA,FR,4242N,00927E,105,42.700000,9.366667
43,34003,C DELORO/CORSICA,FR,4155N,00848E,3,41.916667,8.750000
44,34012,MARSEILLE,FR,4326N,00513E,12,43.433333,5.266667
45,34013,MIGLIACCIARO/CORSICA,FR,4200N,00924E,18,42.000000,9.450000
46,34022,PARIS/ORLY,FR,4844N,00222E,100,48.733333,2.366667
47,34005,PORTETTA/CORSICA,FR,4234N,00927E,49,42.566667,9.333333
48,10001,ACCRA,GH,0536N,00010W,62,5.600000,-0.300000
49,16405,NARSARSSUAK,GL,6111N,04525W,11,61.183333,-45.366667

In [15]:
station.isna()

      WBAN   NAME  STATE/COUNTRY ID    LAT    LON   ELEV  Latitude  Longitude
0    False  False             False  False  False  False     False      False
1    False  False             False  False  False  False     False      False
2    False  False             False  False  False  False     False      False
3    False  False             False  False  False  False     False      False
4    False  False             False  False  False  False     False      False
..     ...    ...               ...    ...    ...    ...       ...        ...
156  False  False             False  False  False  False     False      False
157  False  False             False  False  False  False     False      False
158  False  False             False  False  False  False     False      False
159  False  False             False  False  False  False     False      False
160  False  False             False  False  False  False     False      False

[161 rows x 8 columns]

In [20]:
resultMeans = weather.groupby('STA').mean()
resultMeans

,WindGustSpd,MaxTemp,MinTemp,MeanTemp,YR,MO,DA,DR,SPD,MAX,...,FT,FB,FTI,ITH,PGT,SD3,RHX,RHN,RVG,WTE
STA,,,,,,,,,,,,,,,,,,,,,
10001,NaN,30.496975,22.520407,26.514933,43.576491,6.578220,15.758859,NaN,NaN,86.894555,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10002,NaN,28.715983,23.565062,26.137255,44.172193,7.094118,15.859893,NaN,NaN,83.688770,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10101,NaN,29.979889,22.375566,26.153008,43.924585,6.594268,15.790347,NaN,NaN,85.963801,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10102,NaN,30.367892,22.199475,26.286527,43.725984,6.948819,15.828346,NaN,NaN,86.662205,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10502,NaN,30.877901,21.409445,26.138034,43.309758,6.925344,15.768828,NaN,NaN,87.580223,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
82405,NaN,26.687042,16.312823,21.505026,44.002445,6.485330,15.853301,NaN,NaN,80.036675,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
82501,NaN,24.741935,11.430108,18.097969,43.513978,6.556989,15.881720,NaN,NaN,76.535484,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
82502,NaN,26.584119,12.229429,19.390723,43.870283,6.272406,15.786557,NaN,NaN,79.851415,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
82503,NaN,29.087981,16.085493,22.583077,44.140975,6.583663,15.776021,NaN,NaN,84.358366,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
82506,NaN,26.883534,15.677376,21.255689,44.802410,7.272289,15.961446,NaN,NaN,80.390361,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [22]:
resultMeans.values_counts()

AttributeError: 'DataFrame' object has no attribute 'values_counts'